.header {
  height: 70px;
  background-color: #646cff;
  /* #c8c7ff */
  width: 100vw;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  cursor: pointer;
  height: 80%;
}

.login-button-container {
  margin-right: 50px;
}
