.to-do-title{
    margin:15px 0px
}

.to-do-container{
    margin: 50px;
    display: flex;
    justify-content: space-around;
}

.to-do-item{
    font-size: 24px;
    line-height: 10px;
    color: #B6D1C3;
}

.to-do-item-container{
    margin: 10px 0;
}

.to-do-input{
    height: 15px;
    width: 15px;
    margin: 0px 10px;
}