.to-do-title{
    margin:15px 0px
}

.to-do-container{
    margin: 100px 0px;
    display: flex;
    justify-content: space-around;
}

.to-do-item{
    font-size: 24px;
    line-height: 10px;
    color: #B6D1C3;
}

.to-do-item-container{
    margin: 10px 0;
}

.to-do-input{
    height: 15px;
    width: 15px;
    margin: 0px 10px;
}

.to-do-completed{
    text-decoration: line-through;
    text-decoration-color: white;
    text-decoration-thickness: 2px;
}

.to-do-empty{
    color: #B6D1C3;
    font-family: cursive;
    font-size: 28px;
}

.to-do-list{
    width: 30vw;
}